.imagefeed {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-top: 3px solid rgb(244, 244, 244);
    justify-content: space-evenly;
}

.thumbnail {
    min-height: 30vw;
    width: 32vw;
    margin-bottom: 0.5vw;
}

.imagefeed-image {
    height: 99vh;
    width: 100%;
    margin-bottom: 1vw;
}