.singlePhotoContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.back-btn {
    position: absolute;
    top: 40vh;
}

.singlePhoto {
    width: 70vw;
    height: auto;
    margin: auto;
    padding-top: 10px;
}

.comment {
    width: 70vw;
    margin: auto;
    text-align: left;
}

.comment-username {
    font-weight: 600;
    margin-right: 2vw;
}

.comments-container {
    max-height: 45vh;
    overflow: scroll;
}